Binaries
Build
DerivedDataCache
Intermediate
Saved
Assets
Animations
Audio
Material
FXVarietyPack
InfinityBladeEffects
ParagonGideon
ParagonSparrow


.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace